In [178]:
import pandas as pd
import numpy as np

In [96]:
df = pd.read_csv('old_2019.csv')

In [102]:
df['Salary Paid'] = df['Salary Paid'].str[1:].str.split(',').str.join('').astype('float64')

In [105]:
df['Taxable Benefits'] = df['Taxable Benefits'].str[1:].str.split(',').str.join('').astype('float64')

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166977 entries, 0 to 166976
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Sector            166977 non-null  object
 1   Last Name         166977 non-null  object
 2   First Name        166977 non-null  object
 3   Salary Paid       166977 non-null  float64
 4   Taxable Benefits  166977 non-null  float64
 5   Employer          166977 non-null  object
 6   Job Title         166977 non-null  object
 7   Calendar Year     166977 non-null  int64
dtypes: float64(2), int64(1), object(5)
memory usage: 10.2+ MB

In [122]:
df['Job Title'].str.len().sort_values(ascending=False).unique()[0]

300

In [120]:
len(str(df['Taxable Benefits'].max()))

8

In [131]:
df['Job Title'].str.len().sort_values(ascending=False)

36785     300
34574     266
36790     253
45317     250
36991     248
         ...
30334       4
152053      4
2295        4
154490      4
2140        4
Name: Job Title, Length: 166977, dtype: int64

In [180]:
df.to_csv('2019_second.csv', sep='|',index=False)

In [145]:
pd.read_csv('2019.csv', header=None)

,0,1,2,3,4,5,6,7
0,Colleges,Abbas,Sadiq,111442.39,68.16,Algonquin College Of Applied Arts and Technology,Professor,2019
1,Colleges,Abboud,Nadim,114484.25,114.44,Algonquin College Of Applied Arts and Technology,Professor,2019
2,Colleges,Agate,Jeffery,135651.25,256.22,Algonquin College Of Applied Arts and Technology,Associate Director Student Support Services,2019
3,Colleges,Alexander,Doug,111442.97,114.44,Algonquin College Of Applied Arts and Technology,Professor,2019
4,Colleges,Alexander,Tamra,107906.18,68.16,Algonquin College Of Applied Arts and Technology,Professor,2019
...,...,...,...,...,...,...,...,...
166972,Universities,Zoidl,Georg R,226479.06,1104.16,York University,Professor,2019
166973,Universities,Zryd,Michael,171004.60,910.84,York University,Associate Professor,2019
166974,Universities,Zumbansen,Peer C,193639.44,1104.16,York University,Professor,2019
166975,Universities,Zwick,Detlev,256491.58,1104.16,York University,Associate Dean / Associate Professor,2019
166976,Universities,Zylberberg,Joel,146093.40,701.64,York University,Assistant Professor / Canada Research Chair,2019

In [169]:
df.loc[47395]

Sector                       Hospitals & Boards of Public Health
Last Name                                                  Apkon
First Name                                               Michael
Salary Paid                                               176829
Taxable Benefits                                          333918
Employer                          The Hospital For Sick Children
Job Title           Former President and Chief Executive Officer
Calendar Year                                               2019
Name: 47395, dtype: object

In [172]:
len(str(df['Taxable Benefits'].max()))

8

In [176]:
df[df['Taxable Benefits'] == 333918.4]

,Sector,Last Name,First Name,Salary Paid,Taxable Benefits,Employer,Job Title,Calendar Year
47395,Hospitals & Boards of Public Health,Apkon,Michael,176829.33,333918.4,The Hospital For Sick Children,Former President and Chief Executive Officer,2019

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166977 entries, 0 to 166976
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Sector            166977 non-null  object
 1   Last Name         166977 non-null  object
 2   First Name        166977 non-null  object
 3   Salary Paid       166977 non-null  float64
 4   Taxable Benefits  166977 non-null  float64
 5   Employer          166977 non-null  object
 6   Job Title         166977 non-null  object
 7   Calendar Year     166977 non-null  int64
dtypes: float64(2), int64(1), object(5)
memory usage: 10.2+ MB